@import 'var';
@import 'font';
html {
	font-size: 100%;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	max-height: 100%;
}
ul {
	margin: 0;
	padding: 0;
}
body {
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	text-rendering: optimizeLegibility;
	overflow-x: hidden; 
}
.left {
	float: left;
}
.right {
	float: right;
}
header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	height: 50px;
	#player {
		margin-left: 50px;
		position: relative;
		#next {
			margin: 10px 10px;
		}
		#play {
			
		}
		#prev {
			margin: 10px 10px;
		}
	}
	#control {
		margin-left: 50px;
		#volume, #randomn, #repeat {
		}
		img {
			margin: 10px 20px;
		}
	}
	#sound {
		margin-left: 50px;
		color: #000;
		text-transform: uppercase;
		#title {
			font-size: 12px;
			font-family: 'futura_md_btbold';
		}
		#author {
			font-size: 11px;
			font-family: 'futura_md_btmedium';
		}
		#time {
			margin-left: 40px;
			position: relative;
			height: 2px;
			margin-top: 7px;
			background-color: #e5e5e5;
			width: 367px;
			display: inline-flex;
			span#duration {
				height: 2px;
				background-color: #000;
				width: 12%;
			}
			span#timer {
				position: absolute;
				right: 0;
				top: -20px;
			}
		}
	}
	#share {
		margin-left: 50px;
		ul {
			li {
				display: inline-block;
				float: left;
				margin: 0 10px;
			}
		}
	}
	#search {
		margin-right: 30px;
	}
}
main {
	overflow: hidden;
	width: 5000px;
	padding-top: 50px;
}
.sound-wrapper {
	width: 230px;
	height: 230px;
	margin: 1px;
	background-image: url('#{$img-url}cover/1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	&.big {
		width: 462px;
		height: 462px;
	}
	&.middle {
		width: 462px;
		height: 462px;
	}
}
.sound {
	padding: 15px;
	height: 200px;
	color: #FFF;
	text-transform: uppercase;
	position: relative;
	.share {
		opacity: 0;
		@include transition-all;
		ul li {
			display: inline-block;
			float: left;
			height: 20px;
			width: 30px;
			background-repeat: no-repeat;
			background-position: center;
			&:nth-child(1) {
				background-image: url('#{$img-url}social/fb.png');
			}
			&:nth-child(2) {
				background-image: url('#{$img-url}social/tw.png');
			}
			&:nth-child(3) {
				background-image: url('#{$img-url}social/like.png');
			}
			a {
				display: block;
				height: 20px;
				width: 30px;
			}
		}
	}
	.category {
		font-family: 'futura_md_btmedium';
		font-size: 16px;
	}
	.description {
		position: absolute;
		bottom: 75px;
	}
	.title {
		position: relative;
		clear: both;
		font-family: 'futura_lightregular';
		font-size: 20px;
	}
	.author {
		font-family: 'futura_lightregular';
		font-size: 16px;
	}
	.bt-play {
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 35px;
		height: 40px;
		background-image: url('#{$img-url}play-l.png');
		background-position: center;
		cursor: pointer;
	}
	&:hover {
		.share {
			opacity: 1;
		}
	}
}